:root {
  --primary-0: #ffffff;
  --primary-1: #d7d7d7;
  --primary-2: #afafaf;
  --secondary-0: #000000;
  --secondary-1: #252525;
  --secondary-2: #3b3b3b;
  --tertiary-0: #838383;
  --tertiary-1: #989898;
  --tertiary-2: #656565;

  --accent-0: #ff6a00;
  --accent-1: #803500;
  --accent-2: #411c00;
  --success-0: #16ff00;
  --success-1: #0e8f00;
  --success-2: #053800;
  --error-0: #ff0000;
  --error-1: #7c0000;
  --error-2: #4b0000;
  --warning-0: #ffdd00;
  --warning-1: #7c6a00;
  --warning-2: #463c00;

  --width: 0.15rem;
  --corner: 0.5rem;
  --maxCorner: screen;

  --small-icon: 0.8lh;
  --medium-icon: 1lh;
  --large-icon: 1.5lh;
}
